@import url(color.css);
@import url(themeSwitcher.css);
@import url(tables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER Y BOTONES */

#headerBar{
    display: none
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  background-color: var(--page-header);
  box-shadow: inset 0 calc(var(--borderWidth-thin, 1px)*-1) var(--default-border);
  transition: var(--default-transition);
}

.header .sidebarButton{
    background-color: var(--page-header);
  padding: 0.5em;
  margin-bottom: 2px;
  font-weight: 700;
  color: var(--primary-text);
  border: none;
  cursor: pointer;
  transition: var(--default-transition);
}

.header .sidebarButton:hover{
    transition: .3s;
    border-radius: 5px;
    background-color: var(--button-hover);
}

.header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.header .headerSeccion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .headerSeccion button {
  background-color: var(--page-header);
  padding: 1em;
  margin-bottom: 2px;
  font-weight: 700;
  color: var(--primary-text);
  border: none;
  cursor: pointer;
  transition: var(--default-transition);
}

.header .headerSeccion button:hover {
  transition: .3s;
  border-radius: 15px;
  background-color: var(--button-hover);
}

.header .titlePage {
  font-size: medium;
  font-weight: 700;
  color: var(--primary-text);
  transition: var(--default-transition);
}

.header .time {
  font-size: small;
  color: var(--primary-text);
  text-align: center;
  transition: var(--default-transition);
}

.header .headerGroup {
  display: flex;
  gap: 0.66rem;
  padding: 0.33rem;
}


/* CONTENIDO */

.wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
}


/* BARRA DE NAVEGACION */

.barside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--page-barside);
  border-right: var(--borderWidth-thin, 1px) solid var(--default-border);
  border-bottom: var(--borderWidth-thin, 1px) solid var(--default-border);
  transition: var(--default-transition);
}


.barside .barSections{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    height: 90%;
}

.barside .barSections li {
  display: flex;
  flex-direction: column;
}

.barside .barSections li a {
  padding: 1em 3em;
  text-decoration: none;
  color: var(--muted-text);
  font-size: small;
}

.barside .barSections li .titleSeccion {

  font-weight: lighter;
  font-size: large;
  color: var(--primary-text);
  transition: var(--default-transition);
}

.wth {
  padding: 0em 2em;
}


.barside .barSections li a:hover {
  background-color: var(--button-hover);
}

/*HEADER PARA CEL*/
.barside #headerBar{
    display: none;
    background-color: var(--page-header);
    box-shadow: inset 0 calc(var(--borderWidth-thin, 1px)*-1) var(--default-border);
    transition: var(--default-transition);
}

.barside #headerBar .titlePageBarside{
    font-size: medium;
    font-weight: 700;
    color: var(--primary-text);
    transition: var(--default-transition);
}

.barside #headerBar .timeBarside {
    font-size: small;
    color: var(--primary-text);
    text-align: center;
    transition: var(--default-transition);
  }



/* SECCION DEL INDEX */

.index {
  display: flex;
  background: var(--page-bg);
  flex-direction: column;
  width: 100%;
  gap: 2em;
  padding:  2em;
  border-bottom: var(--borderWidth-thin, 1px) solid var(--default-border);
  transition: var(--default-transition);
  flex: 1;
}


/* TOP & MID PALACE */
.place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--primary-text);
  transition: var(--default-transition);
}


/* TOP */

.place .button {
  padding: 1em;
  font-weight: 700;
  background-color: var(--button-primary);
  color: var(--primary-text);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: var(--default-transition);
}

.place .button:hover {
  background-color: var(--button-hoverPlace);
}


/* MID */

.place .searchBox {
  position: relative;
  width: 25em;
}

.place input {
  width: 100%;
  padding: 1em;
}

.place select {
  padding: 1em;
  font-weight: 700;
  color: black;
  border-radius: 0.5em;
  cursor: pointer;
}

/*PLACE CEL*/

#placeCel1{
    display: none;
}

#placeCel2{
    display: none;
}

@media only screen and (max-width:975px) {

    .wrapper {
        flex-direction: column;
    }


    .barside .barSections{
        align-items: center;
        text-align: center;
        width: 100%;

    }

    .barside .barSections li{
        width: 100%;

    }

    .barside .barSections li a{

        width: 100%;
    }

}

@media only screen and (max-width:560px) {

    .barside #headerBar{
        display: flex;
    }

    #titlePageHead{
        display: none;
    }

    #timeHead{
        display: none;
    }

    #buttonHead{
        display: none;
    }





}

@media only screen and (max-width:420px) {

#categoriasPlace{
    display: none;
}

#buttonPlace{
    display: none;
}

#placeCel1{
    display: flex;
}

#placeCel2{
    display: flex;
}


}
