@import url(color.css);
@import url(themeSwitcher.css);
@import url(tables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER Y BOTONES */

.header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: var(--page-header);
  align-items: center;
  text-align: center;
  box-shadow: inset 0 calc(var(--borderWidth-thin, 1px)*-1) var(--default-border);
  transition: var(--default-transition);
}

.header .headerSeccion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}

.header .headerSeccion button {
  background-color: var(--page-header);
  padding: 1em;
  margin-bottom: 2px;
  font-weight: 700;
  color: var(--primary-text);
  border: none;
  cursor: pointer;
  transition: var(--default-transition);
}

.header .headerSeccion button:hover {
  transition: .3s;
  border-radius: 15px;
  background-color: var(--button-hover);
}

.header .titlePage {
  font-size: large;
  color: var(--primary-text);
  transition: var(--default-transition);
}

.header .time {
  font-size: small;
  color: var(--primary-text);
  text-align: center;
  transition: var(--default-transition);
}

.header .headerGroup {
  display: flex;
  gap: 0.66rem;
  padding: 0.33rem;
}


/* CONTENIDO */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  flex: 1;
}


/* BARRA DE NAVEGACION */

.barside {
  background-color: var(--page-barside);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-right: var(--borderWidth-thin, 1px) solid var(--default-border);
  border-bottom: var(--borderWidth-thin, 1px) solid var(--default-border);
  transition: var(--default-transition);
}

.barside .barSections {
  padding-left: 0em;
}

.barside .barSections li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.barside .barSections li a {
  padding: 0.5em 3em;
  text-decoration: none;
  color: var(--muted-text);
  font-size: small;
}

.barside .barSections li .titleSeccion {

  font-weight: lighter;
  font-size: large;
  color: var(--primary-text);
  transition: var(--default-transition);
}

.wth {
  padding: 1em 2em;
}

.barside .barSections li a:hover {
  background-color: var(--button-hover);
}


/* SECCION DEL INDEX */

.index {
  display: flex;
  background: var(--page-bg);
  flex-direction: column;
  gap: 2em;
  padding:  2em;
  border-bottom: var(--borderWidth-thin, 1px) solid var(--default-border);
  transition: var(--default-transition);
}


/* TOP & MID PALACE */
.place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--primary-text);
  transition: var(--default-transition);
}


/* TOP */

.place .button {
  padding: 1em;
  font-weight: 700;
  background-color: var(--button-primary);
  color: var(--primary-text);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: var(--default-transition);
}

.place .button:hover {
  background-color: var(--button-hoverPlace);
}


/* MID */

.place .searchBox {
  position: relative;
  width: 25em;
}

.place input {
  width: 100%;
  padding: 1em;
}

.place select {
  padding: 1em;
  font-weight: 700;
  color: black;
  border-radius: 0.5em;
  cursor: pointer;
}