@import url(color.css);

body {
    background-color: var(--login-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--primary-text);
  }
  
  label {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-text);
  }
  
  /* Estilo personalizado para los inputs */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: var(--login-input-bg);
    border: 1px solid;
    border-color: var(--default-border);
    border-radius: 4px;
    padding: 5% 1%;
    margin-bottom: 7.5%;
    font-size: large;
  }
  
  /* Estilo personalizado para cambiar la apariencia del input cuando está enfocado */
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    background-color: var(--login-input-bg);
    outline: none;
    border-color: var(--default-border);
  }
  
  .input-group-text {
    background-color: var(--login-input-bg);
    outline: none;
    border-color: var(--default-border);
  }
  
  a {
    color: #0274BD;
  }
  
  .btn-custom {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: var(--login-button-primary);
    color: var(--primary-text);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10%;
  }
  
  .btn-custom:hover,
  .btn-custom:active {
    background-color: var(--login-button-hover);
    color: var(--primary-text);
  }