/* COLORES */

:root[data-mode="light"]{

  /* Main Page */
  --page-bg: #f4f4f4;

  /* All Text */
  --primary-text: black;

  /* Header-Place Button & Hover */
  --button-primary: #f5542c;
  --button-hover: #F57251;

  /* Input Colors */
  --input-bg: #E9E6DD;
  --default-border: black ;
}

:root[data-mode="dark"]{

  /* Main Page */
  --page-bg: #0D1117;

  /* Text */
  --primary-text: white;
  --muted-text: grey;
  
  /* Header-Place Button & Hover */
  --button-primary: #f5542c;
  --button-hover: #F57251;

  /* Input Colors */
  --input-bg: #E9E6DD;
  --default-border: #c2bdbd;
}

html,
body {
  background-color: var(--page-bg);
  height: 100%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--primary-text);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
  text-align: start;
  color: var(--primary-text);
}

.p-center {
  text-align: center;
}

label {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  width: 100%;
  color: var(--primary-text);
}

/* Estilo personalizado para los inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: var(--input-bg);
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 2.5% 1%;
  margin-bottom: 5%;
  font-size: large;
}

/* Estilo personalizado para cambiar la apariencia del input cuando está enfocado */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: var(--input-bg);
  outline: none;
  border-color: var(--default-border);
}

.input-group-text {
  background-color: var(--input-bg);
  outline: none;
  border-color: var(--default-border);
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-custom {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: var(--button-primary);
  color: #fff;
  border: none;
  padding: 1.5%;
  border-radius: 5px;
  margin-top: 2%;
  cursor: pointer;
  width: 100%;
}

.btn-custom:hover,
.btn-custom:active {
  background-color: var(--button-hover);
  color: #ffffff;
}

.card {
  background-color: var(--page-bg);
  border: 7.5px solid;
  border-radius: 1rem;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.symbol {
  color: var(--button-primary);
  font-size: 80px;
  display: inline-block;
  vertical-align: middle;
}

.text-container {
  display: inline-block;
  margin-left: 10px;
}