/* THEME SWITCHER (Dark Mode - Light Mode) */

.themeSwitcher{
    background-color: var(--switch-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.66rem;
    cursor: pointer;
    padding: 0.66rem;
    position: relative;
  }

  .themeSwitcher::before{
    content: '';
    position: absolute;
    width: 1.22rem;
    height: 1.22rem;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
    transition: var(--default-transition);
  }

  .themeSwitcher svg{
    z-index: 1;
    transition: var(--default-transition);
  }

  .iconSun{
    fill: var(--icon-sun)
  }

  .iconMoon{
    fill: var(--icon-moon)
  }
